<section class="container">
  <div class="country-content">
    <div class="btn-group">
      <button
        mat-raised-button
        class="home-button"
        id="minus-year"
        (click)="changeYear($event)"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <p class="year-title">{{ year }}</p>
      <button
        mat-raised-button
        class="home-button"
        id="plus-year"
        (click)="changeYear($event)"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <div class="holiday-info" *ngFor="let holiday of holidays">
      <p>{{ holiday.name | slice: 0 : 100 }}</p>
      <p>{{ holiday.date }}</p>
      <p>{{ holiday.types }}</p>
    </div>
    <button mat-raised-button class="home-button" (click)="goHome()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</section>
